body {
    padding-top: 10px;
    background-color: #1c506f;
}

.indicator {
	width: 20px;
	height: 20px;
}

#shareButton {
	cursor: pointer;
	width: 43px;
	height: 43px;
}

#favoriteStar {
	font-size: 180%;
	color: white;
	text-shadow: -0.5px -0.5px #000, 0.5px -0.5px #000, -0.5px 0.5px #000, 0.5px 0.5px #000;
}

.clearfix {
	padding-bottom: 0;
}

.padding-0 {
	padding-right: 0;
	padding-left: 0;
}